@import "../../public/assets/styles/variables";

.img-wrapper {
    position: relative;
    cursor: pointer;
    max-height: 644px;
    overflow: hidden;
    transition: ease .5s;
    .img-card {
        width: 100%;
    }
    &:hover{
    opacity: .75;
    }
}

.original-price {
    color: $gray;
}

.price{
 color: $orange;
}   
.wrapper-like {
    position: relative;
    bottom: 50px;
    left: 20px;
    .like {
        position: absolute;
        flex-direction: column;
        user-select: none;
        border-radius: 50;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background: #FFFFFF;
        color: #636363;
        box-shadow: 0px 2px 10px 1px rgba(89, 89, 89, 0.25);
        display: flex;
        justify-content: center;
        overflow: hidden !important;
        &:hover {
            transition: ease .25s;
            background: #f3f3f3;
            cursor: pointer;

        }
        .like-inside {
            position: absolute;
            top: 50%;
            transform: translateY(-40%);
            .text-like {
                position: relative;
                bottom: 15px;
                font-family: $Prompt-Bold;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;
                color: #636363;
            }
        }
    }
}


@media (max-width: 575.98px) { 
    .card-columns {
        column-count: 1 !important;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .card-columns {
        column-count: 1 !important;
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .card-columns {
        column-count: 1 !important;
    }
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .card-columns {
        column-count: 2 !important;
    }
 }

@media (min-width: 1200px) { 
    .card-columns {
        column-count: 3 !important;
    }
 }

 @media (max-width: 991.98px) {
    .card-columns{
        .card {
            width: 100% !important;
        } 
    }
 }
 
 @media (max-width: 1919.98px) {
    .card-columns{
        .card {
            width: 512px;
        } 
    }
 }