@import "../../public/assets/styles/variables";
.img-logo{
    width: 100%
}
#basic-navbar-nav{
    min-height: 100%;
    display: flex;
    align-items: center;
}
.text-green {
    color: #2AB473;
}
.w-180px {
    width: 180px !important;
}
.w-140px {
    width: 140px !important;
}
.position-nav-fixed {
    position: fixed !important;
}
.position-nav-relative {
    position: relative !important;
}
.nav-custome{
    z-index: 100;
    width: 100%;
    height: 98px;
    background: #fff;
    .link-social {
        width: 68px;
        cursor: pointer !important;
        a {
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.14px;
            color: #333333;
          }
    }
    .link-navbar {
        width: 100px;
        font-family: $Prompt-Medium !important;
        a {
            cursor: pointer;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.14px;
            color: #333333;
        }
    }
    .dropdown {
        font-family: $Prompt-Medium !important;
        .nav-item{
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.14px;
            color: #333333;
        }
    }
}

.flex-detect-size-nav {
    flex-direction: row !important;
}

@media (max-width: 1600.98px){
    .img-logo{
        width: 100%
    }
    .nav-custome{
        a {
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.14px;
            color: #333333;
          }
          
    }
}

@media (max-width: 1024.98px){
    .flex-detect-size-nav {
        flex-direction: column !important;
    }
    .margin-auto-nav-mobile{
        margin: 0 auto;
    }
    .img-logo{
        width: 75%;
    }
    .nav-custome{
        width: 100%;
        height: auto;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #ececec;
        background-color: #ffffff;
        a{
            padding: 1rem 0; 
        }
    }
    .navbar-nav {
        .dropdown-menu{
            position: static;
            float: none;
            text-align: center;
        }
    }
}