* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  background: #F6F6F6 !important;
}
.bg-light-blue{
  background-color: #E6F2FF;
}
.underline {
  width: 100%;
  height: 1px;
  background: #DCDCDC;
}

.bg-green-dark {
  background: #163F33 !important;
}

.padding-section-between-6 {
  padding-top: 6rem;
}

.padding-170px {
  padding: 0px 170.5px;
}

.container-main{
  max-width: 1920px;
}

.rdw-link-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 260px !important;
  border: 1px solid #F1F1F1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
  box-shadow: 3px 3px 5px #bfbdbd;
}

.editorClassName {
    background-color: #ffffff;
    padding: 4rem 2rem;
    max-height: 530px;
    overflow-y: scroll;
    figure {
      display: block;
      text-align: center;
      iframe {
        height: 300px;
      }
    }
}

.rdw-option-disabled {
  opacity: 0.3;
  display: none !important;
}

.rdw-embedded-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 250px !important;
  height: 200px !important;
  border: 1px solid #F1F1F1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
  justify-content: space-between;
  box-shadow: 3px 3px 5px #bfbdbd;
}

.rdw-image-alignment-options-popup {
  display: none !important;
}

.demo-content {
  span {
    display: block;
  }
  word-wrap: break-word !important;
  iframe {
    display: grid;
    justify-content: center;
    width: 75%;
    height: 600px;
    margin: 0 auto;
    padding: 4rem 0;
  }
  p {
    img {
      display: block;
      margin: 0 auto;
      padding: 4rem 0;
      width: 50% !important;
    }
  }
}


.rdw-image-modal-upload-option-label {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  word-break: break-all !important;
  align-items: center;
  padding: 15px;
}

.rdw-right-aligned-block {
  display: block;
}

.rdw-image-imagewrapper {
  display: block;
  width: 75%;
  height: auto !important;
  text-align: center;
}


blockquote {
  padding: 1rem;
  border-left: 10px solid #5d98ff;
  background: #5d98ff0f;
  text-align: left;
  display: block;
}
li {
  text-align: left;
}

@media (max-width: 1024.98px){
  .padding-170px {
    padding: 0px 25px !important;
  }

  .demo-content {
    word-wrap: break-word !important;
    text-align: left;
    iframe {
      display: grid;
      justify-content: center;
      width: 100%;
      height: auto !important;
      margin: 0 auto;
      padding: 4rem 0;
    }
    p {
      img {
        display: block;
        margin: 0 auto;
        padding: 4rem 0;
        width: 100% !important;
      }
    }
    
  }
}

@media (max-width:1800.98px) {
  .container-pagination{
    width: 100% !important;
  } 
}
