.cover-detail{
     position: relative;
     max-height: 513px;
     overflow: hidden;
     img {
         width: 100%;
     }
}

.wrapper-like {
    position: relative;
    bottom: 50px;
    left: -10px;
    .like {
        position: absolute;
        flex-direction: column;
        user-select: none;
        border-radius: 50;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background: #FFFFFF;
        color: #636363;
        box-shadow: 0px 2px 10px 1px rgba(89, 89, 89, 0.25);
        display: flex;
        justify-content: center;
        overflow: hidden !important;
        
        .like-inside {
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        }
    }
}

.user-profile {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
